@font-face{
font-family:"Futura LT Light";
src:url("../fonts/1475786/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix");
src:url("../fonts/1475786/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix") format("eot"),url("../fonts/1475786/26091050-06ef-4fd5-b199-21b27c0ed85e.woff2") format("woff2"),url("../fonts/1475786/cca525a8-ad89-43ae-aced-bcb49fb271dc.woff") format("woff"),url("../fonts/1475786/88cc7a39-1834-4468-936a-f3c25b5d81a1.ttf") format("truetype"),url("../fonts/1475786/14d6bf5d-15f1-4794-b18e-c03fb9a5187e.svg#14d6bf5d-15f1-4794-b18e-c03fb9a5187e") format("svg");
}
@font-face{
font-family:"Futura LT Heavy";
src:url("../fonts/1475846/752e3189-96d5-4999-8ae7-c435a470461b.eot?#iefix");
src:url("../fonts/1475846/752e3189-96d5-4999-8ae7-c435a470461b.eot?#iefix") format("eot"),url("../fonts/1475846/f3fa9288-dc04-4f75-b949-b06584863c9c.woff2") format("woff2"),url("../fonts/1475846/6b1bbd38-7556-4809-a151-88182a37116e.woff") format("woff"),url("../fonts/1475846/1f56887e-52d4-4229-b219-513cbef3ff58.ttf") format("truetype"),url("../fonts/1475846/33342cd1-a4fd-46e1-a810-aee3d1c24099.svg#33342cd1-a4fd-46e1-a810-aee3d1c24099") format("svg");
}
