html{
    background-image: url('img/patterns/asfalt.png')
}

body{
    margin: -10px 0 0;
    font-family: 'Raleway', sans-serif;
    background-image: url('img/centred_grayed.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.container{
    margin: 0 auto;
    width: 840px;
    background: rgba(255,255,255, 0.88);
    padding: 30px 60px;
    overflow: hidden;
}

#titles{
    width: 960px;
    margin: auto;
    font-weight: 300;
    color: white;
    margin-top: 10px;
}

h1{
    font-size: 6.2em;
    font-weight: 200;
    margin: 0 auto 10px;
}

#title2{
    font-weight: 400;
    font-size:  2em;
    margin: 0 auto 30px;
}

#titles > h1, #titles > h2 {
    text-align: center;
}

#biog-link{
    margin-bottom: 0px
}

a{
    text-decoration: none;
    color: rgb(216, 85, 85);
}

.contact-details{
    width: 240px;
    float: left;
    margin-right: 40px;
}

.names{
    height: 100px
}

.names h4{
    margin-bottom: 0
}

.names p{
    margin-top: 2px
}

address{
    margin-bottom: 9px
}

#link-container{
    margin-top:10px;
    padding: 15px 60px
}

.phone-number{
    margin: 9px 0 0;
}

#links{
    width: 360px;
    float: left;
    margin-top:30px;
}

#links img {
    height: 32px;
    width: 32px;
    margin-right: 2px;
    opacity: 0.8
}

#links img:hover{
    opacity: 1
}



