/* Black footer */

footer{
    height: 36px;
    background-color: white;
    position: fixed;
    width: 100%;
    left:0;
    text-transform: uppercase;
    bottom:0;
    /* A quick hack before responsive stuff is built */
    min-width: 1024px;
}

footer > a {
    float: left;
    margin: 8px 0 0 20px;
}

footer a{
    color: black;
}

