html{
}

body{
    margin: -10px auto 0;
    font-family: 'Futura LT Light', sans-serif;
    max-width: 1700px;
    background-color: #eee;
}

/* Generic formatting */
.left{
    float: left
}

.right{
    float: right
}

a{
    text-decoration: none;
}

button{
    background-color: transparent;
    border-width: 0;
    outline: none;
    padding: 0;
}

/* Slider */
.slider{
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#video-box{
}


#video-slider {
	width: 960px;
	height: 540px;
}

#gallery-slider {
    width: 960px;
    height: 640px;
    padding-left:0
}

/* Containers */
#main-container{
    padding: 92px 0;
    width: 960px;
    margin: auto;
}

.text-container {
    overflow: hidden;
}

.slider-wrapper{
    /*margin-left: -30px;*/
}

/* Title bar */

#main-title{
    margin: 0 auto;
}

#main-title h1{
    font-size: 2.2em;
}

#main-title, .section-title{
    text-align: center;
    width: 480px;
    font-weight: normal;
    color: black;
    margin: 0 auto;
}

.section-title{
    margin: 48px auto;
}

.section-title > *{
    display: inline-block;
}

#main-title > *{
    margin: 0 auto;
}

.picture-bar{
    width: 100%;
    height: 412px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 338px;
}

#top-bar{
    background-image: url('../img/album-cover.jpg');
}

#bottom-bar{
    background-image: url('../img/album-cover-bottom.jpg');
}



/* Titles */
.title > *{
    margin: 0 auto;
}

h1, h2, h3{
    font-weight: normal;
}

h1{
    margin: 0;
    font-size: 2em;
    font-family: "Futura LT Heavy", sans-serif;
    letter-spacing: 5px;
}

h2{
    font-size:  1.1em;
    margin: 0 auto;
    letter-spacing: 2px;
}

h3{
    margin-top: 0
}
/* Make margins simpler */
p.first{
    margin-top: 0;
}

p.last{
    margin-bottom: 0
}

/* hack to keep text centered with letter-spacing */
.last-letter{
    letter-spacing: 0;
}


/* Video */
.slide{
    width: 620px;
    height: 310px;
    margin: 10px auto;
}

/* Gallery */

.caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    height: 20px;
    font-size: 1em;
    background-color: black;
    padding: 5px 0 5px 12px;
}

/* Contacts */
#contacts a{
    color: rgb(216, 85, 85);
}

#contacts{
    padding-left: 120px;
    width: 840px;
}

.contact-details{
    width: 240px;
    margin-right: 40px;
    float: left;
}

.names h4{
    margin-bottom: 0;
    margin-top: 20px
}

.names p{
    margin-top: 2px
}

address{
    margin-bottom: 9px
}

#link-container{
    margin-top:10px;
    padding: 15px 60px
}

.phone-number{
    margin: 9px 0 0;
}

/* Projects */
.project{
    margin: 0;
}

.project > span:first-child{
    color: rgb(216, 85, 85);
    /*font-family: "Futura LT Heavy", sans-serif;*/
}

.award{
    font-family: "Futura LT Heavy", sans-serif;
}

.project > span::before{
    content: "/";
    margin-right: 3px;
    font-family: 'Futura LT Light', sans-serif;
}

.project > span:first-child::before{
    content: none;
    margin: 0
}

#projects-box{
    text-align: center;
}

#projects-box h2 {
    margin: 12px 0;
    font-size: 16pt;
}

.project-list{
    margin-bottom: 24px;
}

/* Footer - see separate stylesheet*/

/* Plangular soundcloud player */
.marquee{
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span{
    display: inline-block;
    text-indent: 0;
}

.marquee span:hover{
    animation: marquee 20s linear infinite;
}

.track-name{
    height: 20px;
    font-size: 10pt;
    padding-top: 1px;
}

@keyframes marquee{
    0% {transform: translate(0,0);}
    100% {transform: translate(-100%,0);}
}

#playback-controls, .track-name{
    margin-top: 8px;
    margin-left: 16px;
}

#playback-controls > button {
    height:20px;
    width:20px;
    margin: 0 5px;
    float: left;
}

progress{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    color: rgb(216,85,85);
    display: block;
    width: 250px;
    height: 8px;
    border:0;
    overflow: hidden;
    cursor: pointer;
    margin: 14px 20px;
    float: right;
}

/* inside of bar */
progress::-webkit-progress-bar{
    background-color: #eee;
}

/* 'Progressed' section of bar */
progress::-webkit-progress-value{
    background-color: rgb(216, 85, 85);
}

progress::-moz-progress-bar{
    background-color: rgb(216, 85, 85);
}

#social{
    float: right;
    margin-right:10px;
}

#social > a {
    float: left
}

#right-aligned{
    width: 368px;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #fff;
}

#twitter-logo{
    width: 24px;
    height: 24px;
    margin: 6px 6px 0 0;
}

#soundcloud-logo{
    width: 30px;
    height: 30px;
    margin: 3px 8px 0 0;
}

#soundcloud-player a{
    float: left;
}

.bxslider {
    list-style:none;
    margin:0;
    padding:0
}

#gallery-slider li{
    overflow: visible;
    margin: 0;
    height: 670px;
}

.bx-viewport{
}


/* Breakpoints */
@media only screen and (max-width: 1020px){
    #main-container, .section-title, .video-slider #gallery-slider{
        width: 720px;
    }

    #gallery-slider li{
        height: 480px;
    }

    #contacts{
        padding: 0;
        text-align: center;
        width: inherit;
    }

    .contact-details{
        margin: 0 auto 30px;
    }

    footer{
        min-width: 480px
    }
    progress{
        display: none;
    }

    #right-aligned{
        width: 84px;
    }



}

@media only screen and (max-width: 730px){
    #main-container, .section-title, .video-slider{
        width: 480px;
    }

    #gallery-slider li{
        height: 320px;
    }

    .contact-details{
        float: none;
    }

}
