html{
}

body{
    margin: -10px auto 0;
    font-family: 'Futura LT Light', sans-serif;
    max-width: 1700px;
    background-color: #eee;
}

/* Generic formatting */
.left{
    float: left
}

.right{
    float: right
}

a{
    text-decoration: none;
}

button{
    background-color: transparent;
    border-width: 0;
    outline: none;
    padding: 0;
}

/* Slider */
.slider{
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#video-box{
    padding: 111px 0 0 30px;
    background-color: black;
}

#video-box p{
    color: white;
    width: 960px;
    margin: 24px auto;
}

#video-slider {
	width: 960px;
	height: 540px;
}

#gallery-slider {
    width: 960px;
    height: 640px;
    padding-left:0
}

/* Containers */
#main-container{
    width: 960px;
    margin: auto;
}

.text-container {
    overflow: hidden;
}

.slider-wrapper{
    margin-left: -30px;
}

/* Title bar */

#main-title{
    margin: 0 auto;
    text-align: center;
}

#main-title h1{
    font-size: 2.2em;
}

#main-title, .section-title{
    width: 960px;
    font-weight: normal;
    color: black;
    margin: 0 auto;
}

.section-title{
    margin: 64px auto 24px;
}

.section-title > *{
    display: inline-block;
}

#main-title > *{
    margin: 0 auto;
}

.picture-bar{
    width: 100%;
    height: 412px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 338px;
}

#top-bar{
    background-image: url('../img/album-cover.jpg');
}

#bottom-bar{
    background-image: url('../img/album-cover-bottom.jpg');
}



/* Titles */
.title > *{
    margin: 0 auto;
}

h1, h2, h3{
    font-weight: normal;
}

h1{
    margin: 0;
    font-size: 2em;
    font-family: "Futura LT Heavy", sans-serif;
    letter-spacing: 5px;
}

h2{
    font-size:  1.1em;
    margin: 0 auto;
    letter-spacing: 2px;
}

h3{
    margin-top: 0
}
/* Make margins simpler */
p.first{
    margin-top: 0;
}

p.last{
    margin-bottom: 0
}

/* hack to keep text centered with letter-spacing */
.last-letter{
    letter-spacing: 0;
}


/* Video */
.slide{
    width: 620px;
    height: 310px;
    margin: 10px auto;
}

/* Gallery */

.caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    height: 20px;
    font-size: 1em;
    background-color: black;
    padding: 5px 0 5px 12px;
}

/* Contacts */
#contacts a{
    color: rgb(216, 85, 85);
}

#contacts{
    padding-bottom: 100px;
    width: 840px;
}

.contact-details{
    width: 240px;
    margin-right: 40px;
    float: left;
}

.names h4{
    margin-bottom: 0;
    margin-top: 20px
}

.names p{
    margin-top: 2px
}

address{
    margin-bottom: 9px
}

#link-container{
    margin-top:10px;
    padding: 15px 60px
}

.phone-number{
    margin: 9px 0 0;
}

/* Projects */
#projects-box{
    overflow-y: hidden; /* Forces parent to be full height */
}

.dvd-cover {
    position: relative; /*Needed for abs-positioned titles*/
    width: 192px;
    height: 273px;
}

.dvd-cover > img{
    width: 100%;
}

.dvd-cover:not(:hover) > .show-on-hover{
    display: none;
}

.project-title h3{
     text-align: center;
     margin: 10px 5%;
}

.project-title{
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.fadebox{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    top: 0;
}

/* Footer - see separate stylesheet*/

/* Plangular soundcloud player */
.marquee{
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span{
    display: inline-block;
    text-indent: 0;
}

.marquee span:hover{
    animation: marquee 20s linear infinite;
}

.track-name{
    height: 20px;
    font-size: 10pt;
    padding-top: 1px;
}

@keyframes marquee{
    0% {transform: translate(0,0);}
    100% {transform: translate(-100%,0);}
}

#playback-controls, .track-name{
    margin-top: 8px;
    margin-left: 16px;
}

#playback-controls > button {
    height:20px;
    width:20px;
    margin: 0 5px;
    float: left;
}

progress{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    color: rgb(216,85,85);
    display: block;
    width: 250px;
    height: 8px;
    border:0;
    overflow: hidden;
    cursor: pointer;
    margin: 14px 20px;
    float: right;
}

/* inside of bar */
progress::-webkit-progress-bar{
    background-color: #eee;
}

/* 'Progressed' section of bar */
progress::-webkit-progress-value{
    background-color: rgb(216, 85, 85);
}

progress::-moz-progress-bar{
    background-color: rgb(216, 85, 85);
}

#social{
    float: right;
    margin-right:10px;
}

#social > a {
    float: left
}

#right-aligned{
    width: 368px;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #fff;
}

#twitter-logo{
    width: 24px;
    height: 24px;
    margin: 6px 6px 0 0;
}

#soundcloud-logo{
    width: 30px;
    height: 30px;
    margin: 3px 8px 0 0;
}

/* Breakpoints */
@media (min-width: 1024px){
    }
@media (max-width: 960px){
    }
