@media only screen and (max-width: 1040px){
    .container, .section-title, .video-slider{
        width: 720px;
    }

    #contacts{
        padding: 0;
        text-align: center;
        width: inherit;
    }

    .contact-details{
        margin: 0 auto 30px;
    }

    /* Resize image strips */

    #video-strip, #biography-strip{
        height: 150px;
    }

    #projects-strip{
        height: 180px;
    }

    .picture-bar{
        height: 280px;
        padding-top: 206px
    }

    /* CDs */
    #downloads-box{
        width: 664px
    }

    .cd{
        width: 300px
    }

    .cd-cover {
        height: 270px
    }

    /* Etc */

    footer{
        min-width: 350px
    }
    progress{
        display: none;
    }

    #right-aligned{
        width: 84px;
    }
}

@media only screen and (max-width: 800px){
    .container, .section-title, .video-slider, #mc_embed_signup input.email{
        width: 480px;
    }

    .contact-details{
        float: none;
    }

    #video-strip, #biography-strip{
        height: 110px;
    }

    #top-bar{
        margin-bottom: 48px;
    }

    .section-title{
        margin: 24px auto;
    }

    #downloads-box{
        width: 300px
    }

    #cd-2{
        margin: 0;
    }
}

@media only screen and (max-width: 560px) {

    .container, .section-title, .video-slider, #mc_embed_signup input.email{
        width: 240px;
    }

    .picture-bar{
        height: 220px;
        padding-top: 168px;
    }

    #main-title{
        width: 285px
    }

    #main-title h1{
        font-size: 1.5em
    }

    #main-title h2{
        font-size: 0.8em
    }

    h1{
        font-size: 1.8em;
    }

    #video-strip, #biography-strip{
        height: 88px;
    }

    #projects-strip{
        height: 120px
    }
}
